In [1]:
import pandas as pd
import numpy as np 
df = pd.read_csv('SP_ESG.csv')

In [2]:
df.head()

,Symbol,Name,Address,Sector,Industry,Full Time Employees,Description,Total ESG Risk score,Environment Risk Score,Governance Risk Score,Social Risk Score,Controversy Level,Controversy Score,ESG Risk Percentile,ESG Risk Level
0,ENPH,"Enphase Energy, Inc.","47281 Bayside Parkway\nFremont, CA 94538\nUnit...",Technology,Solar,"3,157","Enphase Energy, Inc., together with its subsid...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EMN,Eastman Chemical Company,"200 South Wilcox Drive\nKingsport, TN 37662\nU...",Basic Materials,Specialty Chemicals,"14,000",Eastman Chemical Company operates as a special...,25.3,12.8,6.6,5.8,Moderate Controversy Level,2.0,50th percentile,Medium
2,DPZ,Domino's Pizza Inc.,"30 Frank Lloyd Wright Drive\nAnn Arbor, MI 481...",Consumer Cyclical,Restaurants,"6,500","Domino's Pizza, Inc., through its subsidiaries...",29.2,10.6,6.3,12.2,Moderate Controversy Level,2.0,66th percentile,Medium
3,DAY,"Dayforce, Inc.","3311 East Old Shakopee Road\nMinneapolis, MN 5...",Technology,Software - Application,"9,084","Dayforce Inc., together with its subsidiaries,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DVA,Davita Inc.,"2000 16th Street\nDenver, CO 80202\nUnited States",Healthcare,Medical Care Facilities,"70,000",DaVita Inc. provides kidney dialysis services ...,22.6,0.1,8.4,14.1,Moderate Controversy Level,2.0,38th percentile,Medium

In [11]:
df['Full Time Employees'] = pd.to_numeric(df['Full Time Employees'].str.replace(',',''), errors='coerce')
# Then fill NaN values and convert to int
df['Full Time Employees'] = df['Full Time Employees'].fillna(0).astype('int')

In [12]:
df.isna().sum()

Symbol                      0
Name                        0
Address                     1
Sector                      1
Industry                    1
Full Time Employees         0
Description                 1
Total ESG Risk score       73
Environment Risk Score     73
Governance Risk Score      73
Social Risk Score          73
Controversy Level          73
Controversy Score         100
ESG Risk Percentile        73
ESG Risk Level             73
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer
numerical_cols = ['Full Time Employees' , 'Total ESG Risk score' , 'Environment Risk Score','Governance Risk Score','Social Risk Score','Controversy Score']
numerical_imputer = SimpleImputer(strategy='mean')
df[numerical_cols] = numerical_imputer.fit_transform(df[numerical_cols])

In [14]:
df.isna().sum()

Symbol                     0
Name                       0
Address                    1
Sector                     1
Industry                   1
Full Time Employees        0
Description                1
Total ESG Risk score       0
Environment Risk Score     0
Governance Risk Score      0
Social Risk Score          0
Controversy Level         73
Controversy Score          0
ESG Risk Percentile       73
ESG Risk Level            73
dtype: int64

In [15]:
# Drop the specified columns
df = df.drop(['Symbol' , 'Name', 'Address', 'Industry', 'Description'], axis=1)

In [19]:
df.head()

,Sector,Full Time Employees,Total ESG Risk score,Environment Risk Score,Governance Risk Score,Social Risk Score,Controversy Level,Controversy Score,ESG Risk Percentile,ESG Risk Level
0,9,3157.0,21.533721,5.739767,6.725116,9.070465,NaN,2.007444,NaN,NaN
1,0,14000.0,25.300000,12.800000,6.600000,5.800000,Moderate Controversy Level,2.000000,50th percentile,Medium
2,2,6500.0,29.200000,10.600000,6.300000,12.200000,Moderate Controversy Level,2.000000,66th percentile,Medium
3,9,9084.0,21.533721,5.739767,6.725116,9.070465,NaN,2.007444,NaN,NaN
4,6,70000.0,22.600000,0.100000,8.400000,14.100000,Moderate Controversy Level,2.000000,38th percentile,Medium

In [18]:
df['Sector'].unique()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sector'] = le.fit_transform(df['Sector'])
df['Sector'].unique()

array([ 9,  0,  2,  6,  7, 10,  5,  4,  8,  1,  3, 11])

In [21]:
df['Controversy Level'].nunique()
categorical_cols = ['Controversy Level' , 'ESG Risk Percentile' , 'ESG Risk Level']

In [24]:
categorical_imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])
df.isna().sum()

Sector                    0
Full Time Employees       0
Total ESG Risk score      0
Environment Risk Score    0
Governance Risk Score     0
Social Risk Score         0
Controversy Level         0
Controversy Score         0
ESG Risk Percentile       0
ESG Risk Level            0
dtype: int64

In [25]:
df.dtypes

Sector                      int64
Full Time Employees       float64
Total ESG Risk score      float64
Environment Risk Score    float64
Governance Risk Score     float64
Social Risk Score         float64
Controversy Level          object
Controversy Score         float64
ESG Risk Percentile        object
ESG Risk Level             object
dtype: object

In [29]:
categorical = ['Controversy Level','ESG Risk Percentile','ESG Risk Level']
for col in categorical:
    df[col] = le.fit_transform(df[col])

In [30]:
df.head()

,Sector,Full Time Employees,Total ESG Risk score,Environment Risk Score,Governance Risk Score,Social Risk Score,Controversy Level,Controversy Score,ESG Risk Percentile,ESG Risk Level
0,9,3157.0,21.533721,5.739767,6.725116,9.070465,2,2.007444,6,1
1,0,14000.0,25.300000,12.800000,6.600000,5.800000,2,2.000000,44,2
2,2,6500.0,29.200000,10.600000,6.300000,12.200000,2,2.000000,60,2
3,9,9084.0,21.533721,5.739767,6.725116,9.070465,2,2.007444,6,1
4,6,70000.0,22.600000,0.100000,8.400000,14.100000,2,2.000000,30,2

In [32]:
df.to_csv("final.csv")